# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Signer Configuration
CHAIN_ID=
ORACLE_CONTRACT_ADDRESS=
PRIVATE_KEY_FILE=/app/private.key

# Provider Configuration
FOOTBALL_ORG_API_KEY=
FOOTBALL_ORG_API_ENDPOINT=https://api.football-data.org/v4
