# Global configuration
UID=1000 # run id -u to get this value
GID=1000 # run id -g to get this value

# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DB=sports_pulse

# Signer Configuration
CHAIN_ID=
ORACLE_CONTRACT_ADDRESS=
SIGNER_PRIVATE_KEY=0x4ba521e286bca3aa5fe1a8a8cf38017246b15fd2a4d9c79f1576ca82b9244279 # Used for tests

# Provider Configuration
FOOTBALL_ORG_API_KEY=
FOOTBALL_ORG_API_ENDPOINT=

# Oracle Configuration
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80 # Anvil one
CONTRACTS_OWNER_ADDRESS=0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65 # After contracts deployment, the ownership of all of them is transferred to this address
AUTHORIZED_SIGNER_ADDRESS=0xCC0724CDc18DaE6B469b8e8B533fCd4dBE32FB46 # This address needs to be the public key derived from the PRIVATE_KEY env var used in the Signer service
ETHERSCAN_API_KEY=

# Relayer Configuration
RPC_URL=http://oracle:8545
RELAYER_PRIVATE_KEY=0x4bbbf85ce3377467afe5d46f804f221813b2bb87f24d81f60f1fcdbf7cbf4356
ORACLE_CONTRACT_ADDRESS=
