# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Signer Configuration
CHAIN_ID=
ORACLE_CONTRACT_ADDRESS=
SIGNER_PRIVATE_KEY=0x4ba521e286bca3aa5fe1a8a8cf38017246b15fd2a4d9c79f1576ca82b9244279 # Used for tests

# Provider Configuration
FOOTBALL_ORG_API_KEY=
FOOTBALL_ORG_API_ENDPOINT=https://api.football-data.org/v4
